<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">"
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">My Dashboard</a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mybooks">My Books</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/myorders">My Orders</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login_as_user">Logout</a>
                  </li>
              </div>
            </div>
          </nav>
        </head>
        <body>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{message}}
            </div>
            {% endfor %}
          {% endif %}
          {% endwith %} <br>
          {% include 'searchbar.html' %}
         <div class="categories-list">
            {% for category in categories %}
               <h2 style="text-align:center;">{{category.category_name}}</h2>
               <div class="books">
                     {% for books in category.section %}
                      {% if (param=='bname' and bname.lower() in books.book_name.lower()) or (param=='aname' and aname.lower() in books.author_name.lower()) or (param=='price' and books.price <= price) or (not param) %}
                      <div class="card" style="width: 18rem;">
                          <img src="https://picsum.photos/200/200" class="card-img-top" alt="{{books.book_name}}">
                         <div class="card-body">
                          <h5 class="card-title">{{books.book_name}}</h5>
                          <p class="card-text">
                          Author : {{books.author_name}}<br>
                          Price : &#8377;{{books.price}}
                         </p>
                         {% if books.book_id in requested_books %}
                         <button class="btn btn-warning" disabled>Requested</button>
                         {% else %}
                         <a href="/request/{{ books.book_id }}/" class="btn btn-warning">Request</a>
                         {% endif %}
                         {% if books.book_id in ordered_books %}
                         <button class="btn btn-success" disabled>Added to Cart</button>
                         {% else %}
                          <a href="/buy/{{books.book_id}}/" class="btn btn-success">Buy Now</a> 
                         {% endif %}
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
          </div><hr>
          {% endfor %}
{% block style %}
<style>
    .categories.list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .books{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    .card{
        margin: 10px;
    }
</style>
{% endblock %}
</body>
</html>